# Activity: Selective Subsets

## Introduction

In this activity you will practice selecting subsets of data from a DataFrame using Pandas.
This activity will cover the following topics:
- Creating masks
- Negating masks
- Masks with slicing
- Null value masks

#### Question 1

Create a `DataFrame` called `df` from the given CSV file `movie_data.csv`, and then create a mask called `before_millennium` to select all movies that were released before 2000.

In [10]:
import pandas as pd

# Your code here

# your code here

# Load the DataFrame from the CSV file
df = pd.read_csv('movie_data.csv')

# Create a mask for movies released before the year 2000
before_millennium = df['Year Released'] < 2000


print(df)
print(before_millennium)

                       Title  Year Released  Rating  Box Office ($M)
0   The Shawshank Redemption           1994     9.3             58.3
1              The Godfather           1972     9.2            246.1
2            The Dark Knight           2008     9.0           1005.0
3               Pulp Fiction           1994     8.9            213.9
4           Schindler's List           1993     8.9            321.3
..                       ...            ...     ...              ...
70                 Andhadhun           2018     8.3             48.0
71                 Gully Boy           2019     8.1             62.0
72            Dil Chahta Hai           2001     8.1             13.0
73          Dil To Pagal Hai           1997     7.1             11.0
74              Om Shanti Om           2007     6.7             23.0

[75 rows x 4 columns]
0      True
1      True
2     False
3      True
4      True
      ...
70    False
71    False
72    False
73     True
74    False
Name: Year Released, Length: 75, dtype: bool

In [11]:
# Question 1 Grading Checks

assert isinstance(df, pd.DataFrame), 'Did you create a DataFrame called df?'

#### Question 2

Using the `before_millennium` mask from Question 1, assign the titles of every movie that was released after 2000 to a `Series` called `newer_titles`.

In [12]:
# Your code here

# your code here

# Create a mask for movies released before the year 2000
before_millennium = df['Year Released'] < 2000

# Assign the titles of movies released after 2000 to a Series
newer_titles = df.loc[~before_millennium, 'Title']


print(newer_titles)

2                                       The Dark Knight
7                                             Inception
9     The Lord of the Rings: The Fellowship of the Ring
11                                            Gladiator
14                The Lord of the Rings: The Two Towers
15                                         The Departed
19        The Lord of the Rings: The Return of the King
20                                          The Pianist
22                                               Avatar
23                                 Inglourious Basterds
24                                         The Revenant
25                                     Django Unchained
26                                   The Social Network
27                                         Interstellar
28                             The Grand Budapest Hotel
29                                              Dunkirk
30                                     A Beautiful Mind
33                                   The Shape of Water
34                                     12 Years a Slave
35                                              Gravity
36                                           La La Land
37                                    Blade Runner 2049
38                                         The Irishman
39                                             Parasite
40                                     The Great Gatsby
42                                      The Incredibles
43                Eternal Sunshine of the Spotless Mind
44                               No Country for Old Men
46                                         Finding Nemo
47                                         The Avengers
48                                          The Martian
49                                        Black Panther
50                                             3 Idiots
51                                                   PK
52                                               Dangal
53                             Baahubali: The Beginning
54                          Baahubali 2: The Conclusion
55                                    Bajrangi Bhaijaan
56                                               Sultan
57                             Kabhi Khushi Kabhie Gham
58                                      My Name Is Khan
59                                      Chennai Express
62                               Kabhi Alvida Naa Kehna
63                                            Padmaavat
65                                         Koi Mil Gaya
66                                               Krrish
67                                               Lagaan
70                                            Andhadhun
71                                            Gully Boy
72                                       Dil Chahta Hai
74                                         Om Shanti Om
Name: Title, dtype: object

In [13]:
# Question 2 Grading Checks

assert isinstance(newer_titles, pd.Series), 'Did you create a Series called newer_titles?'

#### Question 3

Create a mask to select movies with a `Rating` of `8.9` and a `Box Office ($M)` value higher than `1000.0`. Assign the resulting `Series` to a variable called `popular_pg_movies`.

In [14]:
# Your code here

# your code here

# Create a mask for movies with Rating of 8.9 and Box Office greater than 1000.0
popular_pg_movies = (df['Rating'] == 8.9) & (df['Box Office ($M)'] > 1000.0)


print(popular_pg_movies)

0     False
1     False
2     False
3     False
4     False
      ...
70    False
71    False
72    False
73    False
74    False
Length: 75, dtype: bool

In [15]:
# Question 3 Grading Checks

assert isinstance(popular_pg_movies, pd.Series), 'Did you create a Series called popular_pg_movies?'

#### Question 4

Create a mask to select movies with a null value for `Box Office ($M)` or `Rating`. Assign the resulting `Series` to a variable called `missing_info`.

In [17]:
# Your code here

# your code here

# Create a mask for movies with null values in Box Office or Rating
missing_info = df['Box Office ($M)'].isnull() | df['Rating'].isnull()


print(missing_info)

0     False
1     False
2     False
3     False
4     False
      ...
70    False
71    False
72    False
73    False
74    False
Length: 75, dtype: bool

In [7]:
# Question 4 Grading Checks

assert isinstance(missing_info, pd.Series), 'Did you create a Series called missing_info?'