In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('csv/small_customers.csv')
df.head()

,CustomerID,Age,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,56,Male,1,No,Yes,63,No,Yes,Fiber optic,No,No,Electronic check,118.64
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,69,Female,0,No,No,62,Yes,No,No,No,Yes,Mailed check,110.47
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Nothing,Male,0,No,Yes,68,Yes,Yes,DSL,No,Yes,Bank transfer (automatic),103.28
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,32,Female,1,No,No,21,Yes,Yes,Fiber optic,Yes,Yes,Bank transfer (automatic),102.50
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60,Female,1,Yes,Yes,66,Yes,Yes,No,No,Yes,Credit card (automatic),117.99

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerID        100 non-null    object
 1   Age               100 non-null    object
 2   gender            100 non-null    object
 3   SeniorCitizen     100 non-null    int64
 4   Partner           100 non-null    object
 5   Dependents        100 non-null    object
 6   Tenure            100 non-null    int64
 7   PhoneService      100 non-null    object
 8   MultipleLines     100 non-null    object
 9   InternetService   100 non-null    object
 10  DeviceProtection  100 non-null    object
 11  PaperlessBilling  100 non-null    object
 12  PaymentMethod     100 non-null    object
 13  TotalCharges      100 non-null    float64
dtypes: float64(1), int64(2), object(11)
memory usage: 11.1+ KB

In [5]:
numeric = df.Age.str.isnumeric()
df[~numeric]

,CustomerID,Age,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Nothing,Male,0,No,Yes,68,Yes,Yes,DSL,No,Yes,Bank transfer (automatic),103.28

In [6]:
df.loc[~numeric, 'Age'] = -1

In [7]:
df[~numeric]

,CustomerID,Age,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,-1,Male,0,No,Yes,68,Yes,Yes,DSL,No,Yes,Bank transfer (automatic),103.28

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerID        100 non-null    object
 1   Age               100 non-null    object
 2   gender            100 non-null    object
 3   SeniorCitizen     100 non-null    int64
 4   Partner           100 non-null    object
 5   Dependents        100 non-null    object
 6   Tenure            100 non-null    int64
 7   PhoneService      100 non-null    object
 8   MultipleLines     100 non-null    object
 9   InternetService   100 non-null    object
 10  DeviceProtection  100 non-null    object
 11  PaperlessBilling  100 non-null    object
 12  PaymentMethod     100 non-null    object
 13  TotalCharges      100 non-null    float64
dtypes: float64(1), int64(2), object(11)
memory usage: 11.1+ KB

In [9]:
mask_null = df.InternetService.isnull()
mask_null

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: InternetService, Length: 100, dtype: bool

In [10]:
df.loc[mask_null, 'InternetService'] = 0

In [11]:
df.fillna(0)

,CustomerID,Age,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,56,Male,1,No,Yes,63,No,Yes,Fiber optic,No,No,Electronic check,118.64
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,69,Female,0,No,No,62,Yes,No,No,No,Yes,Mailed check,110.47
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,-1,Male,0,No,Yes,68,Yes,Yes,DSL,No,Yes,Bank transfer (automatic),103.28
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,32,Female,1,No,No,21,Yes,Yes,Fiber optic,Yes,Yes,Bank transfer (automatic),102.50
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60,Female,1,Yes,Yes,66,Yes,Yes,No,No,Yes,Credit card (automatic),117.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ad48ff99415b2f007dc35b7eb553fd1eb35ebfa2f2f308...,46,Female,0,No,Yes,11,No,No,DSL,No,No,Mailed check,104.65
96,7b1a278f5abe8e9da907fc9c29dfd432d60dc76e17b0fa...,35,Female,0,Yes,Yes,24,Yes,Yes,Fiber optic,Yes,No,Credit card (automatic),103.01
97,d6d824abba4afde81129c71dea75b8100e96338da5f416...,43,Male,1,No,Yes,51,No,Yes,DSL,No,No,Credit card (automatic),102.22
98,29db0c6782dbd5000559ef4d9e953e300e2b479eed26d8...,61,Male,0,No,No,52,No,Yes,Fiber optic,No,No,Bank transfer (automatic),110.12
99,8c1f1046219ddd216a023f792356ddf127fce372a72ec9...,51,Female,1,Yes,Yes,22,No,Yes,DSL,Yes,Yes,Electronic check,100.00

In [12]:
df.fillna(False)

,CustomerID,Age,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,56,Male,1,No,Yes,63,No,Yes,Fiber optic,No,No,Electronic check,118.64
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,69,Female,0,No,No,62,Yes,No,No,No,Yes,Mailed check,110.47
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,-1,Male,0,No,Yes,68,Yes,Yes,DSL,No,Yes,Bank transfer (automatic),103.28
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,32,Female,1,No,No,21,Yes,Yes,Fiber optic,Yes,Yes,Bank transfer (automatic),102.50
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60,Female,1,Yes,Yes,66,Yes,Yes,No,No,Yes,Credit card (automatic),117.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ad48ff99415b2f007dc35b7eb553fd1eb35ebfa2f2f308...,46,Female,0,No,Yes,11,No,No,DSL,No,No,Mailed check,104.65
96,7b1a278f5abe8e9da907fc9c29dfd432d60dc76e17b0fa...,35,Female,0,Yes,Yes,24,Yes,Yes,Fiber optic,Yes,No,Credit card (automatic),103.01
97,d6d824abba4afde81129c71dea75b8100e96338da5f416...,43,Male,1,No,Yes,51,No,Yes,DSL,No,No,Credit card (automatic),102.22
98,29db0c6782dbd5000559ef4d9e953e300e2b479eed26d8...,61,Male,0,No,No,52,No,Yes,Fiber optic,No,No,Bank transfer (automatic),110.12
99,8c1f1046219ddd216a023f792356ddf127fce372a72ec9...,51,Female,1,Yes,Yes,22,No,Yes,DSL,Yes,Yes,Electronic check,100.00

In [13]:
df

,CustomerID,Age,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,56,Male,1,No,Yes,63,No,Yes,Fiber optic,No,No,Electronic check,118.64
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,69,Female,0,No,No,62,Yes,No,No,No,Yes,Mailed check,110.47
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,-1,Male,0,No,Yes,68,Yes,Yes,DSL,No,Yes,Bank transfer (automatic),103.28
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,32,Female,1,No,No,21,Yes,Yes,Fiber optic,Yes,Yes,Bank transfer (automatic),102.50
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60,Female,1,Yes,Yes,66,Yes,Yes,No,No,Yes,Credit card (automatic),117.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ad48ff99415b2f007dc35b7eb553fd1eb35ebfa2f2f308...,46,Female,0,No,Yes,11,No,No,DSL,No,No,Mailed check,104.65
96,7b1a278f5abe8e9da907fc9c29dfd432d60dc76e17b0fa...,35,Female,0,Yes,Yes,24,Yes,Yes,Fiber optic,Yes,No,Credit card (automatic),103.01
97,d6d824abba4afde81129c71dea75b8100e96338da5f416...,43,Male,1,No,Yes,51,No,Yes,DSL,No,No,Credit card (automatic),102.22
98,29db0c6782dbd5000559ef4d9e953e300e2b479eed26d8...,61,Male,0,No,No,52,No,Yes,Fiber optic,No,No,Bank transfer (automatic),110.12
99,8c1f1046219ddd216a023f792356ddf127fce372a72ec9...,51,Female,1,Yes,Yes,22,No,Yes,DSL,Yes,Yes,Electronic check,100.00

In [14]:
df.fillna({'MultipleLines':False, 'InternetService': 0})

,CustomerID,Age,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,56,Male,1,No,Yes,63,No,Yes,Fiber optic,No,No,Electronic check,118.64
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,69,Female,0,No,No,62,Yes,No,No,No,Yes,Mailed check,110.47
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,-1,Male,0,No,Yes,68,Yes,Yes,DSL,No,Yes,Bank transfer (automatic),103.28
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,32,Female,1,No,No,21,Yes,Yes,Fiber optic,Yes,Yes,Bank transfer (automatic),102.50
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,60,Female,1,Yes,Yes,66,Yes,Yes,No,No,Yes,Credit card (automatic),117.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ad48ff99415b2f007dc35b7eb553fd1eb35ebfa2f2f308...,46,Female,0,No,Yes,11,No,No,DSL,No,No,Mailed check,104.65
96,7b1a278f5abe8e9da907fc9c29dfd432d60dc76e17b0fa...,35,Female,0,Yes,Yes,24,Yes,Yes,Fiber optic,Yes,No,Credit card (automatic),103.01
97,d6d824abba4afde81129c71dea75b8100e96338da5f416...,43,Male,1,No,Yes,51,No,Yes,DSL,No,No,Credit card (automatic),102.22
98,29db0c6782dbd5000559ef4d9e953e300e2b479eed26d8...,61,Male,0,No,No,52,No,Yes,Fiber optic,No,No,Bank transfer (automatic),110.12
99,8c1f1046219ddd216a023f792356ddf127fce372a72ec9...,51,Female,1,Yes,Yes,22,No,Yes,DSL,Yes,Yes,Electronic check,100.00