# Activity: Modifying & Replacing Values

## Introduction

In this activity you will practice modifying and replacing values in a DataFrame using the various method that Pandas has to offer.
This activity will cover the following, not necessarily in this order:
- Checking for anomalous values
- Using `.isnumeric()`
- Using `min()` and `max()` methods
- Using `.loc[]` to replace values
- Using `isnull()` and `notnull()` methods

#### Question 1

Create a `DataFrame` called `df` from the given CSV file `employee_data.csv`, and then create a mask called `valid_names` that checks the `Name` column for any non-numeric values.

In [2]:
import pandas as pd

# Your code here

# your code here

# Load the CSV file into a DataFrame
df = pd.read_csv('csv/employee_data.csv')

# Create a mask to check for non-numeric values in the Name column
valid_names = df['Name'].str.isnumeric()

print(df)
print(valid_names)

              Name  Years of Employment  Weeks of Vacation           Position
0    Alice Johnson                    5                3.0  Software Engineer
1        Bob Smith                    2               15.0       Data Analyst
2    Catherine Lee                   10                4.0    Product Manager
3      David Brown                    3               10.0            Unknown
4     Eva Martinez                    1                5.0        UX Designer
..             ...                  ...                ...                ...
99    Vera Edwards                   10               52.0    Cloud Architect
100   Wesley Young                    3                2.0            Unknown
101  Xander Foster                    6               23.0      Data Engineer
102    Yasmin King                    4               19.0            Unknown
103  Zoe Rodriguez                    2               16.0            Unknown

[104 rows x 4 columns]
0      False
1      False
2      False
3      False
4      False
       ...
99     False
100    False
101    False
102    False
103    False
Name: Name, Length: 104, dtype: bool

In [3]:
# Question 1 Grading Checks

assert isinstance(df, pd.DataFrame), 'Have you created a DataFrame named df?'
assert isinstance(valid_names, pd.Series), 'Have you created a Series named valid_names?'

#### Question 2

Using the original `DataFrame` `df`, create a mask called `unknown_position` that checks the `Position` column for any values that are equal to the string `Unknown`. Then, replace all such values with `Engineer`.

In [4]:
# Your code here

# your code here

# Create a mask for positions that are "Unknown"
unknown_position = df['Position'] == 'Unknown'

# Replace "Unknown" with "Engineer"
df.loc[unknown_position, 'Position'] = 'Engineer'

print(unknown_position)

0      False
1      False
2      False
3       True
4      False
       ...
99     False
100     True
101    False
102     True
103     True
Name: Position, Length: 104, dtype: bool

In [5]:
# Question 2 Grading Checks

assert isinstance(unknown_position, pd.Series), 'Have you created a Series named unknown_position?'

#### Question 3

Using the original `DataFrame` `df`, create a mask called `invalid_vacation` that checks the `Weeks of Vacation` column for any values that are null or missing. Then, use that mask to assign the value 0 to them.

In [6]:
# Your code here

# your code here

# Create a mask for null values in the "Weeks of Vacation" column
invalid_vacation = df['Weeks of Vacation'].isnull()

# Assign 0 to the null values
df.loc[invalid_vacation, 'Weeks of Vacation'] = 0

print(invalid_vacation)

0      False
1      False
2      False
3      False
4      False
       ...
99     False
100    False
101    False
102    False
103    False
Name: Weeks of Vacation, Length: 104, dtype: bool

In [9]:
# Question 3 Grading Checks

assert isinstance(invalid_vacation, pd.Series), 'Have you created a Series named invalid_vacation?'