In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('csv/remove_customers.csv')

In [3]:
df.head()

,CustomerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges,1_column
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,Female,0,No,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25,0
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Male,0,Yes,Yes,64,Yes,No,DSL,Yes,No,Bank transfer (automatic),$720.22,0
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Female,1,No,Yes,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74,0
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Female,1,Yes,Yes,3,Yes,Yes,DSL,Yes,Yes,Bank transfer (automatic),$1883.51,0
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Female,1,No,Yes,40,No,Yes,No,Yes,Yes,Mailed check,$83.26,0

In [4]:
df.drop(columns='1_column')

,CustomerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,Female,0,No,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Male,0,Yes,Yes,64,Yes,No,DSL,Yes,No,Bank transfer (automatic),$720.22
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Female,1,No,Yes,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Female,1,Yes,Yes,3,Yes,Yes,DSL,Yes,Yes,Bank transfer (automatic),$1883.51
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Female,1,No,Yes,40,No,Yes,No,Yes,Yes,Mailed check,$83.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3822,71300a607803afff20dbf578af63c845836ef7495a4df1...,Male,0,No,Yes,69,No,No,No,Yes,Yes,Mailed check,$1463.55
3823,08ff39839627d6e1619e05b005f41c51face303bfb6fcd...,Female,0,No,No,6,Yes,Yes,DSL,Yes,Yes,Electronic check,$1474.69
3824,03340dc42c4919ce6019ae44c24f3997ccd529f7af6f7f...,Female,1,Yes,Yes,18,Yes,Yes,Fiber optic,No,No,Credit card (automatic),$435.95
3825,32948fbafc29b36f18c4a96e5d1bd2789d2232f3f56a2a...,Male,0,Yes,Yes,43,No,Yes,DSL,Yes,No,Bank transfer (automatic),$1046.15
3826,61f1658abb2793093fd8a1afabc600dad20001526baa94...,Male,1,No,No,62,No,No,No,Yes,No,Bank transfer (automatic),$1411.88

In [5]:
df

,CustomerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges,1_column
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,Female,0,No,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25,0
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Male,0,Yes,Yes,64,Yes,No,DSL,Yes,No,Bank transfer (automatic),$720.22,0
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Female,1,No,Yes,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74,0
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Female,1,Yes,Yes,3,Yes,Yes,DSL,Yes,Yes,Bank transfer (automatic),$1883.51,0
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Female,1,No,Yes,40,No,Yes,No,Yes,Yes,Mailed check,$83.26,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3822,71300a607803afff20dbf578af63c845836ef7495a4df1...,Male,0,No,Yes,69,No,No,No,Yes,Yes,Mailed check,$1463.55,0
3823,08ff39839627d6e1619e05b005f41c51face303bfb6fcd...,Female,0,No,No,6,Yes,Yes,DSL,Yes,Yes,Electronic check,$1474.69,0
3824,03340dc42c4919ce6019ae44c24f3997ccd529f7af6f7f...,Female,1,Yes,Yes,18,Yes,Yes,Fiber optic,No,No,Credit card (automatic),$435.95,0
3825,32948fbafc29b36f18c4a96e5d1bd2789d2232f3f56a2a...,Male,0,Yes,Yes,43,No,Yes,DSL,Yes,No,Bank transfer (automatic),$1046.15,0
3826,61f1658abb2793093fd8a1afabc600dad20001526baa94...,Male,1,No,No,62,No,No,No,Yes,No,Bank transfer (automatic),$1411.88,0

In [6]:
df_clean = df.drop(columns='1_column')

In [7]:
df_clean

,CustomerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,Female,0,No,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Male,0,Yes,Yes,64,Yes,No,DSL,Yes,No,Bank transfer (automatic),$720.22
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Female,1,No,Yes,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Female,1,Yes,Yes,3,Yes,Yes,DSL,Yes,Yes,Bank transfer (automatic),$1883.51
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Female,1,No,Yes,40,No,Yes,No,Yes,Yes,Mailed check,$83.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3822,71300a607803afff20dbf578af63c845836ef7495a4df1...,Male,0,No,Yes,69,No,No,No,Yes,Yes,Mailed check,$1463.55
3823,08ff39839627d6e1619e05b005f41c51face303bfb6fcd...,Female,0,No,No,6,Yes,Yes,DSL,Yes,Yes,Electronic check,$1474.69
3824,03340dc42c4919ce6019ae44c24f3997ccd529f7af6f7f...,Female,1,Yes,Yes,18,Yes,Yes,Fiber optic,No,No,Credit card (automatic),$435.95
3825,32948fbafc29b36f18c4a96e5d1bd2789d2232f3f56a2a...,Male,0,Yes,Yes,43,No,Yes,DSL,Yes,No,Bank transfer (automatic),$1046.15
3826,61f1658abb2793093fd8a1afabc600dad20001526baa94...,Male,1,No,No,62,No,No,No,Yes,No,Bank transfer (automatic),$1411.88

In [8]:
df.drop('1_column', axis=1)

,CustomerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,Female,0,No,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Male,0,Yes,Yes,64,Yes,No,DSL,Yes,No,Bank transfer (automatic),$720.22
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Female,1,No,Yes,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Female,1,Yes,Yes,3,Yes,Yes,DSL,Yes,Yes,Bank transfer (automatic),$1883.51
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Female,1,No,Yes,40,No,Yes,No,Yes,Yes,Mailed check,$83.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3822,71300a607803afff20dbf578af63c845836ef7495a4df1...,Male,0,No,Yes,69,No,No,No,Yes,Yes,Mailed check,$1463.55
3823,08ff39839627d6e1619e05b005f41c51face303bfb6fcd...,Female,0,No,No,6,Yes,Yes,DSL,Yes,Yes,Electronic check,$1474.69
3824,03340dc42c4919ce6019ae44c24f3997ccd529f7af6f7f...,Female,1,Yes,Yes,18,Yes,Yes,Fiber optic,No,No,Credit card (automatic),$435.95
3825,32948fbafc29b36f18c4a96e5d1bd2789d2232f3f56a2a...,Male,0,Yes,Yes,43,No,Yes,DSL,Yes,No,Bank transfer (automatic),$1046.15
3826,61f1658abb2793093fd8a1afabc600dad20001526baa94...,Male,1,No,No,62,No,No,No,Yes,No,Bank transfer (automatic),$1411.88

In [9]:
df_clean = df_clean.drop(columns =['gender', 'Dependents'])
df_clean

,CustomerID,SeniorCitizen,Partner,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,0,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,Yes,64,Yes,No,DSL,Yes,No,Bank transfer (automatic),$720.22
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,1,No,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,1,Yes,3,Yes,Yes,DSL,Yes,Yes,Bank transfer (automatic),$1883.51
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,1,No,40,No,Yes,No,Yes,Yes,Mailed check,$83.26
...,...,...,...,...,...,...,...,...,...,...,...
3822,71300a607803afff20dbf578af63c845836ef7495a4df1...,0,No,69,No,No,No,Yes,Yes,Mailed check,$1463.55
3823,08ff39839627d6e1619e05b005f41c51face303bfb6fcd...,0,No,6,Yes,Yes,DSL,Yes,Yes,Electronic check,$1474.69
3824,03340dc42c4919ce6019ae44c24f3997ccd529f7af6f7f...,1,Yes,18,Yes,Yes,Fiber optic,No,No,Credit card (automatic),$435.95
3825,32948fbafc29b36f18c4a96e5d1bd2789d2232f3f56a2a...,0,Yes,43,No,Yes,DSL,Yes,No,Bank transfer (automatic),$1046.15
3826,61f1658abb2793093fd8a1afabc600dad20001526baa94...,1,No,62,No,No,No,Yes,No,Bank transfer (automatic),$1411.88

In [10]:
df_clean.drop(index=3826)

,CustomerID,SeniorCitizen,Partner,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,0,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,Yes,64,Yes,No,DSL,Yes,No,Bank transfer (automatic),$720.22
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,1,No,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,1,Yes,3,Yes,Yes,DSL,Yes,Yes,Bank transfer (automatic),$1883.51
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,1,No,40,No,Yes,No,Yes,Yes,Mailed check,$83.26
...,...,...,...,...,...,...,...,...,...,...,...
3821,8d6906944de869776836690859de9bb9ff8d82fd11b7c1...,1,Yes,56,Yes,Yes,Fiber optic,Yes,No,Bank transfer (automatic),$1960.31
3822,71300a607803afff20dbf578af63c845836ef7495a4df1...,0,No,69,No,No,No,Yes,Yes,Mailed check,$1463.55
3823,08ff39839627d6e1619e05b005f41c51face303bfb6fcd...,0,No,6,Yes,Yes,DSL,Yes,Yes,Electronic check,$1474.69
3824,03340dc42c4919ce6019ae44c24f3997ccd529f7af6f7f...,1,Yes,18,Yes,Yes,Fiber optic,No,No,Credit card (automatic),$435.95
3825,32948fbafc29b36f18c4a96e5d1bd2789d2232f3f56a2a...,0,Yes,43,No,Yes,DSL,Yes,No,Bank transfer (automatic),$1046.15

In [11]:
df_clean.drop(3826, axis=0)

,CustomerID,SeniorCitizen,Partner,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,0,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,0,Yes,64,Yes,No,DSL,Yes,No,Bank transfer (automatic),$720.22
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,1,No,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,1,Yes,3,Yes,Yes,DSL,Yes,Yes,Bank transfer (automatic),$1883.51
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,1,No,40,No,Yes,No,Yes,Yes,Mailed check,$83.26
...,...,...,...,...,...,...,...,...,...,...,...
3821,8d6906944de869776836690859de9bb9ff8d82fd11b7c1...,1,Yes,56,Yes,Yes,Fiber optic,Yes,No,Bank transfer (automatic),$1960.31
3822,71300a607803afff20dbf578af63c845836ef7495a4df1...,0,No,69,No,No,No,Yes,Yes,Mailed check,$1463.55
3823,08ff39839627d6e1619e05b005f41c51face303bfb6fcd...,0,No,6,Yes,Yes,DSL,Yes,Yes,Electronic check,$1474.69
3824,03340dc42c4919ce6019ae44c24f3997ccd529f7af6f7f...,1,Yes,18,Yes,Yes,Fiber optic,No,No,Credit card (automatic),$435.95
3825,32948fbafc29b36f18c4a96e5d1bd2789d2232f3f56a2a...,0,Yes,43,No,Yes,DSL,Yes,No,Bank transfer (automatic),$1046.15

In [12]:
df_clean.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
3822    False
3823    False
3824    False
3825    False
3826    False
Length: 3827, dtype: bool

In [13]:
df_clean.duplicated(keep='last')

0       False
1       False
2       False
3       False
4       False
        ...
3822    False
3823    False
3824    False
3825    False
3826    False
Length: 3827, dtype: bool

In [14]:
df_clean.duplicated(keep=False)

0       False
1       False
2       False
3       False
4       False
        ...
3822    False
3823    False
3824    False
3825    False
3826    False
Length: 3827, dtype: bool

In [15]:
df_clean.duplicated(subset='CustomerID')

0       False
1       False
2       False
3       False
4       False
        ...
3822    False
3823    False
3824    False
3825    False
3826    False
Length: 3827, dtype: bool

In [17]:
not_duplicate = ~df_clean.duplicated(subset='CustomerID')

In [19]:
df_dedup = df_clean[not_duplicate]

In [26]:
df_no_null = df_dedup[(~df_dedup.InternetService.isna()) & (~df_dedup.MultipleLines.isna())]

In [29]:
not_dsl = df_no_null.InternetService != 'DSL'
df_final = df_no_null[not_dsl]

In [30]:
df_final

,CustomerID,SeniorCitizen,Partner,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,0,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,1,No,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,1,No,40,No,Yes,No,Yes,Yes,Mailed check,$83.26
5,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,1,No,6,No,No,Fiber optic,No,Yes,Credit card (automatic),$1534.58
9,19581e27de7ced00ff1ce50b2047e7a567c76b1cbaebab...,0,Yes,72,No,No,Fiber optic,Yes,No,Mailed check,$1416.08
...,...,...,...,...,...,...,...,...,...,...,...
3818,f77030293f52196bb4655d18cf6f3472dfb04a856e0a0f...,0,Yes,1,No,Yes,No,No,No,Bank transfer (automatic),$1778.98
3821,8d6906944de869776836690859de9bb9ff8d82fd11b7c1...,1,Yes,56,Yes,Yes,Fiber optic,Yes,No,Bank transfer (automatic),$1960.31
3822,71300a607803afff20dbf578af63c845836ef7495a4df1...,0,No,69,No,No,No,Yes,Yes,Mailed check,$1463.55
3824,03340dc42c4919ce6019ae44c24f3997ccd529f7af6f7f...,1,Yes,18,Yes,Yes,Fiber optic,No,No,Credit card (automatic),$435.95
3826,61f1658abb2793093fd8a1afabc600dad20001526baa94...,1,No,62,No,No,No,Yes,No,Bank transfer (automatic),$1411.88