In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('csv/purchases.csv')

In [3]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     100 non-null    object
 1   Age            100 non-null    int64
 2   PaymentMethod  100 non-null    object
 3   Purchase       100 non-null    object
dtypes: int64(1), object(3)
memory usage: 3.3+ KB

In [4]:
df[df.Age < 0]

,CustomerID,Age,PaymentMethod,Purchase
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,-43,Electronic check,$348.92
5,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,-53,Electronic check,$57.22
8,2c624232cdd221771294dfbb310aca000a0df6ac8b66b6...,-65,Mailed check,$211.17
11,4fc82b26aecb47d2868c4efbe3581732a3e7cbcc6c2efb...,-31,Mailed check,$65.43

In [5]:
negative_ages = df.Age < 0

In [6]:
df.loc[negative_ages, 'Age'] = -1 * df.loc[negative_ages, 'Age']

In [7]:
df

,CustomerID,Age,PaymentMethod,Purchase
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,35,Mailed check,$301.44
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,43,Electronic check,$348.92
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,61,Credit card (automatic),$440.83
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,51,Mailed check,$314.06
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,27,Mailed check,$151.34
...,...,...,...,...
95,ad48ff99415b2f007dc35b7eb553fd1eb35ebfa2f2f308...,60,Bank transfer (automatic),$292.44
96,7b1a278f5abe8e9da907fc9c29dfd432d60dc76e17b0fa...,46,Bank transfer (automatic),$189.28
97,d6d824abba4afde81129c71dea75b8100e96338da5f416...,53,Electronic check,$470.37
98,29db0c6782dbd5000559ef4d9e953e300e2b479eed26d8...,30,Bank transfer (automatic),$486.96
99,8c1f1046219ddd216a023f792356ddf127fce372a72ec9...,49,Credit card (automatic),$145.54

In [8]:
(df.Age <0).sum()

np.int64(0)

In [9]:
df.Age.min(), df.Age.max()

(np.int64(18), np.int64(162))

In [10]:
df[df.Age>= 100]

,CustomerID,Age,PaymentMethod,Purchase
15,e629fa6598d732768f7c726b4b621285f9c3b85303900a...,133,Credit card (automatic),$325.61
16,b17ef6d19c7a5b1ee83b907c595526dcb1eb06db8227d6...,162,Electronic check,$5.26

In [11]:
df.loc[15, 'Age'] = 33
df.loc[16, 'Age'] = 62

In [12]:
df.Age.max()

np.int64(69)