# Activity: Using Pandas

## Introduction

In this activity you will practice using some of the basic functionality associated with Pandas.
This activity will cover the following topics:
- Creating a `DataFrame`
- Displaying `DataFrame` information
- Accessing column data
- Getting ranges of column data
- Creating Series from dictionaries
- Using the `iloc()` and `loc()` methods
- Getting data from multiple columns
- Getting rows

#### Question 1

Create a DataFrame called `df` from the given CSV file `student_data.csv` then using the `df` DataFrame, assign the `Name` column to a `Series` called `names`.

In [1]:
import pandas as pd
# Your code here

# your code here

# Create a DataFrame called df from the given CSV file
df = pd.read_csv('csv/student_data.csv')

# Assign the Name column to a Series called names
names = df['Name']

print(df)
print(names)

                Name  Age  Math Grade  English Grade
0   Jennifer Jackson   14          84             81
1    Michael Johnson   14          92             85
2         Robert Lee   18          87             80
3       Linda Harris   13          90             77
4      Michael Moore   18          88             99
..               ...  ...         ...            ...
70   William Johnson   17          99             75
71       Linda Smith   18          92             83
72      Jennifer Lee   17          75             88
73    Michael Miller   12          86             84
74     Emily Johnson   13          94            100

[75 rows x 4 columns]
0     Jennifer Jackson
1      Michael Johnson
2           Robert Lee
3         Linda Harris
4        Michael Moore
            ...
70     William Johnson
71         Linda Smith
72        Jennifer Lee
73      Michael Miller
74       Emily Johnson
Name: Name, Length: 75, dtype: object

In [2]:
# Question 1 Grading Checks

assert isinstance(df, pd.DataFrame), "Did you create a DataFrame called df?"
assert isinstance(names, pd.Series), "Did you assign the Name column in a variable called names?"

#### Question 2

Using the `df` DataFrame, assign the `Age` and `Math Grade` columns to a DataFrame called `age_math`.

In [3]:
# Your code here

# your code here

# Assign the Age and Math Grade columns to a DataFrame called age_math
age_math = df[['Age', 'Math Grade']]

print(age_math)

    Age  Math Grade
0    14          84
1    14          92
2    18          87
3    13          90
4    18          88
..  ...         ...
70   17          99
71   18          92
72   17          75
73   12          86
74   13          94

[75 rows x 2 columns]

In [4]:
# Question 2 Grading Checks

assert isinstance(age_math, pd.DataFrame), "Did you assign the Age and Math Grade columns to a variable called age_math?"

#### Question 3

Using the `.loc()` method, assign the `Age` and `Math Grade` columns for the first 30 rows of `df` to a variable called `first_thirty_loc`.

In [5]:
# Your code here

# your code here

# Using the .loc() method, assign the Age and Math Grade columns for the first 30 rows of df
first_thirty_loc = df.loc[:29, ['Age', 'Math Grade']]  # 0 to 29 corresponds to the first 30 rows

print(first_thirty_loc)

    Age  Math Grade
0    14          84
1    14          92
2    18          87
3    13          90
4    18          88
5    12          96
6    18          95
7    16          85
8    18          91
9    18          84
10   17          91
11   17          79
12   17          75
13   16          93
14   15          89
15   13         100
16   14          91
17   13          99
18   12          85
19   14          95
20   18          92
21   15          89
22   12          84
23   16          96
24   12          86
25   17          94
26   15          88
27   12          80
28   13          82
29   17          85

In [6]:
# Question 3 Grading Checks

assert isinstance(first_thirty_loc, pd.DataFrame), "Did you correctly assign the first 30 rows to a variable called first_thirty_loc?"

#### Question 4

Get the even numbered rows from the `Name` and `English Grade` columns and assign the result to a variable called `even_rows_english`.

In [7]:
# Your code here

# your code here

# Get the even numbered rows from the Name and English Grade columns
even_rows_english = df.loc[::2, ['Name', 'English Grade']]  # Select every second row (even indexed)

print(even_rows_english)

                   Name  English Grade
0      Jennifer Jackson             81
2            Robert Lee             80
4         Michael Moore             99
6           Sarah Smith             90
8         Linda Jackson             79
10          Jane Thomas             77
12           Jane Brown             89
14       Michael Wilson             86
16           Mary Jones             76
18      Jennifer Miller             85
20         Susan Wilson             97
22          Emily Moore             81
24           John Moore            100
26          Jane Miller             98
28           John Moore             87
30          Michael Lee             77
32     Jennifer Johnson             86
34         Susan Miller             88
36      William Jackson             93
38        Michael Davis             84
40         Sarah Harris             99
42    Christopher Moore             83
44      Christopher Lee             91
46             John Lee             81
48        Michael Davis             93
50           Jane White             92
52       William Wilson             90
54          David Moore             86
56       Jennifer Davis             95
58          Linda Davis             78
60         Daniel Jones             83
62   Christopher Miller             76
64        Emily Johnson             82
66          Karen Moore             92
68  Christopher Jackson             99
70      William Johnson             75
72         Jennifer Lee             88
74        Emily Johnson            100

In [8]:
# Question 4 Grading Checks

assert isinstance(even_rows_english, pd.DataFrame), "Did you correctly assign even numbered rows to a variable called even_rows_english? Hint: the first row is index 0."