In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('csv/customers.csv')

In [3]:
display(df)

,CustomerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,Female,0,No,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Male,0,Yes,Yes,64,Yes,No,DSL,Yes,No,Bank transfer (automatic),$720.22
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Female,1,No,Yes,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Female,1,Yes,Yes,3,Yes,Yes,DSL,Yes,Yes,Bank transfer (automatic),$1883.51
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Female,1,No,Yes,40,No,Yes,No,Yes,Yes,Mailed check,$83.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3822,71300a607803afff20dbf578af63c845836ef7495a4df1...,Male,0,No,Yes,69,No,No,No,Yes,Yes,Mailed check,$1463.55
3823,08ff39839627d6e1619e05b005f41c51face303bfb6fcd...,Female,0,No,No,6,Yes,Yes,DSL,Yes,Yes,Electronic check,$1474.69
3824,03340dc42c4919ce6019ae44c24f3997ccd529f7af6f7f...,Female,1,Yes,Yes,18,Yes,Yes,Fiber optic,No,No,Credit card (automatic),$435.95
3825,32948fbafc29b36f18c4a96e5d1bd2789d2232f3f56a2a...,Male,0,Yes,Yes,43,No,Yes,DSL,Yes,No,Bank transfer (automatic),$1046.15
3826,61f1658abb2793093fd8a1afabc600dad20001526baa94...,Male,1,No,No,62,No,No,No,Yes,No,Bank transfer (automatic),$1411.88

In [4]:
df

,CustomerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,Female,0,No,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Male,0,Yes,Yes,64,Yes,No,DSL,Yes,No,Bank transfer (automatic),$720.22
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Female,1,No,Yes,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Female,1,Yes,Yes,3,Yes,Yes,DSL,Yes,Yes,Bank transfer (automatic),$1883.51
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Female,1,No,Yes,40,No,Yes,No,Yes,Yes,Mailed check,$83.26
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3822,71300a607803afff20dbf578af63c845836ef7495a4df1...,Male,0,No,Yes,69,No,No,No,Yes,Yes,Mailed check,$1463.55
3823,08ff39839627d6e1619e05b005f41c51face303bfb6fcd...,Female,0,No,No,6,Yes,Yes,DSL,Yes,Yes,Electronic check,$1474.69
3824,03340dc42c4919ce6019ae44c24f3997ccd529f7af6f7f...,Female,1,Yes,Yes,18,Yes,Yes,Fiber optic,No,No,Credit card (automatic),$435.95
3825,32948fbafc29b36f18c4a96e5d1bd2789d2232f3f56a2a...,Male,0,Yes,Yes,43,No,Yes,DSL,Yes,No,Bank transfer (automatic),$1046.15
3826,61f1658abb2793093fd8a1afabc600dad20001526baa94...,Male,1,No,No,62,No,No,No,Yes,No,Bank transfer (automatic),$1411.88

In [5]:
df.head()

,CustomerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,Female,0,No,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Male,0,Yes,Yes,64,Yes,No,DSL,Yes,No,Bank transfer (automatic),$720.22
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Female,1,No,Yes,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Female,1,Yes,Yes,3,Yes,Yes,DSL,Yes,Yes,Bank transfer (automatic),$1883.51
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Female,1,No,Yes,40,No,Yes,No,Yes,Yes,Mailed check,$83.26

In [6]:
df.tail()

,CustomerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
3822,71300a607803afff20dbf578af63c845836ef7495a4df1...,Male,0,No,Yes,69,No,No,No,Yes,Yes,Mailed check,$1463.55
3823,08ff39839627d6e1619e05b005f41c51face303bfb6fcd...,Female,0,No,No,6,Yes,Yes,DSL,Yes,Yes,Electronic check,$1474.69
3824,03340dc42c4919ce6019ae44c24f3997ccd529f7af6f7f...,Female,1,Yes,Yes,18,Yes,Yes,Fiber optic,No,No,Credit card (automatic),$435.95
3825,32948fbafc29b36f18c4a96e5d1bd2789d2232f3f56a2a...,Male,0,Yes,Yes,43,No,Yes,DSL,Yes,No,Bank transfer (automatic),$1046.15
3826,61f1658abb2793093fd8a1afabc600dad20001526baa94...,Male,1,No,No,62,No,No,No,Yes,No,Bank transfer (automatic),$1411.88

In [7]:
df.head(15)

,CustomerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,Female,0,No,No,58,Yes,Yes,No,No,Yes,Mailed check,$1585.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Male,0,Yes,Yes,64,Yes,No,DSL,Yes,No,Bank transfer (automatic),$720.22
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Female,1,No,Yes,11,Yes,Yes,No,Yes,Yes,Credit card (automatic),$646.74
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Female,1,Yes,Yes,3,Yes,Yes,DSL,Yes,Yes,Bank transfer (automatic),$1883.51
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Female,1,No,Yes,40,No,Yes,No,Yes,Yes,Mailed check,$83.26
5,ef2d127de37b942baad06145e54b0c619a1f22327b2ebb...,Male,1,No,No,6,No,No,Fiber optic,No,Yes,Credit card (automatic),$1534.58
6,e7f6c011776e8db7cd330b54174fd76f7d0216b612387a...,Female,1,Yes,Yes,68,No,No,DSL,No,Yes,Electronic check,$966.19
7,7902699be42c8a8e46fbbb4501726517e86b22c56a189f...,Female,0,No,Yes,68,No,Yes,DSL,Yes,Yes,Credit card (automatic),$1888.93
8,2c624232cdd221771294dfbb310aca000a0df6ac8b66b6...,Female,1,Yes,No,29,Yes,Yes,DSL,No,Yes,Mailed check,$786.94
9,19581e27de7ced00ff1ce50b2047e7a567c76b1cbaebab...,Male,0,Yes,No,72,No,No,Fiber optic,Yes,No,Mailed check,$1416.08
10,4a44dc15364204a80fe80e9039455cc1608281820fe2b2...,Female,1,No,No,5,No,Yes,Fiber optic,Yes,Yes,Credit card (automatic),$139.87
11,4fc82b26aecb47d2868c4efbe3581732a3e7cbcc6c2efb...,Female,0,Yes,No,18,No,Yes,No,No,Yes,Bank transfer (automatic),$1857.54
12,6b51d431df5d7f141cbececcf79edf3dd861c3b4069f0b...,Female,1,Yes,No,65,No,No,Fiber optic,Yes,No,Mailed check,$689.09
13,3fdba35f04dc8c462986c992bcf875546257113072a909...,Female,1,Yes,Yes,9,No,No,DSL,No,No,Credit card (automatic),$1048.01
14,8527a891e224136950ff32ca212b45bc93f69fbb801c3b...,Male,0,Yes,Yes,15,No,No,No,No,No,Mailed check,$276.96

In [8]:
df.tail(1)

,CustomerID,gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,DeviceProtection,PaperlessBilling,PaymentMethod,TotalCharges
3826,61f1658abb2793093fd8a1afabc600dad20001526baa94...,Male,1,No,No,62,No,No,No,Yes,No,Bank transfer (automatic),$1411.88

In [9]:
df.columns

Index(['CustomerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'Tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'DeviceProtection', 'PaperlessBilling', 'PaymentMethod',
       'TotalCharges'],
      dtype='object')

In [ ]:
pd.read_csv()