## Load Data

In [1]:
import pandas as pd

In [2]:
# https://rdrr.io/cran/reshape2/man/tips.html
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/refs/heads/master/tips.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

## Exploring With Aggregations

In [5]:
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [6]:
df['tip'].mean()

np.float64(2.99827868852459)

In [7]:
df['tip'].max()

np.float64(10.0)

In [8]:
df[['total_bill','tip']].mean()

total_bill    19.785943
tip            2.998279
dtype: float64

### Basic: Filtering

In [9]:
df[df['sex'] == 'Female']

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
11        35.26  5.00  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
..          ...   ...     ...    ...   ...     ...   ...
226       10.09  2.00  Female    Yes   Fri   Lunch     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[87 rows x 7 columns]

In [10]:
df[df['sex'] == 'Female']['tip']

0      1.01
4      3.61
11     5.00
14     3.02
16     1.67
       ...
226    2.00
229    2.88
238    4.67
240    2.00
243    3.00
Name: tip, Length: 87, dtype: float64

In [11]:
print('mean', df[df['sex'] == 'Female']['tip'].mean())
print('max', df[df['sex'] == 'Female']['tip'].max())

mean 2.8334482758620685
max 6.5

In [12]:
male_mask = df['sex'] == 'Male'

In [16]:
print('mean', df[male_mask]['tip'].mean())
print('max', df[male_mask]['tip'].max())

mean 3.0896178343949043
max 10.0

### More Efficient: `groupby`

In [17]:
df.groupby(by='sex')

In [18]:
df.groupby('sex')['tip']

In [19]:
df.groupby('sex')['tip'].mean()

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

In [20]:
group_by_sex = df.groupby('sex')

In [21]:
group_by_sex['tip'].mean()

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

In [22]:
group_by_sex['tip'].max()

sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

In [23]:
group_by_sex['total_bill'].mean()

sex
Female    18.056897
Male      20.744076
Name: total_bill, dtype: float64

#### Alternative Method

##### `agg()` or `aggregate()`

In [28]:
group_by_sex['tip'].agg(max)

C:\Users\hirew\AppData\Local\Temp\ipykernel_8644\3207505572.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  group_by_sex['tip'].agg(max)

sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

In [29]:
group_by_sex['tip'].aggregate(max)

C:\Users\hirew\AppData\Local\Temp\ipykernel_8644\3893259515.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  group_by_sex['tip'].aggregate(max)

sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

In [30]:
group_by_sex['tip'].agg('max')

sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

In [31]:
group_by_sex['tip'].aggregate('mean')

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

`apply()`

In [33]:
group_by_sex['tip'].apply(max)

C:\Users\hirew\AppData\Local\Temp\ipykernel_8644\3760850837.py:1: FutureWarning: The provided callable <built-in function max> is currently using np.maximum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.maximum.reduce instead.
  group_by_sex['tip'].apply(max)

sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

In [34]:
group_by_sex['tip'].apply('max')

sex
Female     6.5
Male      10.0
Name: tip, dtype: float64

In [35]:
group_by_sex['tip'].apply('mean')

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

#### Multiple Columns

In [36]:
agg_results = group_by_sex['tip'].mean()
print(type(agg_results))
agg_results

<class 'pandas.core.series.Series'>

sex
Female    2.833448
Male      3.089618
Name: tip, dtype: float64

In [37]:
agg_results = group_by_sex[['tip']].mean()
print(type(agg_results))
agg_results

<class 'pandas.core.frame.DataFrame'>

             tip
sex
Female  2.833448
Male    3.089618

In [38]:
# Fails
group_by_sex.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [39]:
# This works
group_by_sex.count()

        total_bill  tip  smoker  day  time  size
sex
Female          87   87      87   87    87    87
Male           157  157     157  157   157   157

In [40]:
group_by_sex[['total_bill','tip']].mean()

        total_bill       tip
sex
Female   18.056897  2.833448
Male     20.744076  3.089618

#### Multiple Aggregations

In [42]:
group_by_sex['tip'].agg(['mean', max, 'count'])

C:\Users\hirew\AppData\Local\Temp\ipykernel_8644\1742255085.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  group_by_sex['tip'].agg(['mean', max, 'count'])

            mean   max  count
sex
Female  2.833448   6.5     87
Male    3.089618  10.0    157

In [43]:
group_by_sex[['total_bill','tip']].agg(['mean', max, 'count'])

C:\Users\hirew\AppData\Local\Temp\ipykernel_8644\1527516655.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  group_by_sex[['total_bill','tip']].agg(['mean', max, 'count'])

       total_bill                    tip
             mean    max count      mean   max count
sex
Female  18.056897  44.30    87  2.833448   6.5    87
Male    20.744076  50.81   157  3.089618  10.0   157

In [44]:
group_by_sex[['total_bill','tip']].agg(['mean', max, 'count']).T

C:\Users\hirew\AppData\Local\Temp\ipykernel_8644\4233152543.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  group_by_sex[['total_bill','tip']].agg(['mean', max, 'count']).T

sex                  Female        Male
total_bill mean   18.056897   20.744076
           max    44.300000   50.810000
           count  87.000000  157.000000
tip        mean    2.833448    3.089618
           max     6.500000   10.000000
           count  87.000000  157.000000

In [45]:
df.groupby('sex')[['tip','total_bill']].describe()

          tip                                                 total_bill  \
        count      mean       std  min  25%   50%   75%   max      count
sex
Female   87.0  2.833448  1.159495  1.0  2.0  2.75  3.50   6.5       87.0
Male    157.0  3.089618  1.489102  1.0  2.0  3.00  3.76  10.0      157.0


             mean       std   min    25%    50%    75%    max
sex
Female  18.056897  8.009209  3.07  12.75  16.40  21.52  44.30
Male    20.744076  9.246469  7.25  14.00  18.35  24.71  50.81

In [46]:
df.groupby('sex')['tip'].describe()

        count      mean       std  min  25%   50%   75%   max
sex
Female   87.0  2.833448  1.159495  1.0  2.0  2.75  3.50   6.5
Male    157.0  3.089618  1.489102  1.0  2.0  3.00  3.76  10.0

In [47]:
df.groupby('sex')['tip'].describe().T

sex       Female        Male
count  87.000000  157.000000
mean    2.833448    3.089618
std     1.159495    1.489102
min     1.000000    1.000000
25%     2.000000    2.000000
50%     2.750000    3.000000
75%     3.500000    3.760000
max     6.500000   10.000000